# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.env

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Node / frontend
node_modules/
dist/
.next/
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db